#head {
    padding: 10px;
    background: #CCC;
    border-bottom: 2px solid #AAA;
}
h1 {
    font-size: 20px;
    line-height: 1
}
h2 {
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    margin-bottom:5px;
    
}
h1 span {
    display: block;
    font-size: 240%;
    font-weight: bold;   
}
#head a {
    position: absolute;
    right: 10px;
    top: 35px;   
}
#content {
    margin: 20px;
}
#content p {
    color: #666;
    margin-top: 15px;
    width: 500px;
    clear: both;
}
#content form {
    background-color:lightgoldenRodYellow;
    padding-top:20px;
    position:relative;
}
#content form input {
    margin-right: 10px;
}
#content form input.txt {
    width: 4em;
}
#content form label {
    position: absolute;
    font-weight: bold;
    top: 0;
}
#images {
    margin: 25px 0;
    padding: 5px;
    float: left;
}
#images li {
    float: left;
    padding: 5px;
}
#images li form {
  padding-top: 5px;  
}
#images img {
    border: 2px solid #AAA;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover, a:focus {
    color: #333;
}
.filetype{
    margin-bottom:8px;
}

#log_res.ajax-loading {
	padding: 20px 0;
	background: url(http://demos111.mootools.net/demos/Group/spinner.gif) no-repeat center;
}

#content div{
	float:left;
	width:100%;
}

#content div.css-file-forms{
width:auto;
float:right;
}

#content div.css-file-forms form{
background-color:white;
height:auto;
padding-top:0;
position:relative;
float:left;
}

.css-holder {
width:100%;
float:left;
}
.css-holder span {
float left;
}
